POSTGRES_USER=postgres
POSTGRES_PASSWORD=REPLACE_WITH_A_LONG_RANDOM_SECRET

STRAPI_A_DATABASE=portfolio_a
STRAPI_A_USER=strapi_a
STRAPI_A_PASSWORD=REPLACE_WITH_A_LONG_RANDOM_SECRET

STRAPI_B_DATABASE=portfolio_b
STRAPI_B_USER=strapi_b
STRAPI_B_PASSWORD=REPLACE_WITH_A_LONG_RANDOM_SECRET

STRAPI_C_DATABASE=portfolio_c
STRAPI_C_USER=strapi_c
STRAPI_C_PASSWORD=REPLACE_WITH_A_LONG_RANDOM_SECRET